<html>      
    <head>
        <link href="/assets/style.css" type="text/css" rel="stylesheet" />
    </head>
    <body>
        <h1>Client Id: <%= id %></h1>
        <h1>Client Name: <%= name %></h1>

    </body>
</html>